/* google fonts 

- montserrat
- bebasneue
- alfaslab
 
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* global css */
*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p,span,input,button{
	font-family: 'Open Sans', sans-serif;
}
a,a:hover{
	text-decoration: none;
}

/**********************************
	 header part css here 
***********************************/
header{
	width: 100%;
	background-image: url(../img/banner/banner.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}
.overlay{
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.navbar{
	padding: 25px 0;
}
.nav-link{
	    color: yellow !important;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
}
.navbar-brand{
	color: white !important;
	font-weight: 600;
	font-size: 24px;
}

.banner-text{
	width: 100%;
	height: 60vh;
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-text h1{
	    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
}
h5{
	font-size: 30px;
	font-weight: 400;
	margin-top: 30px;
}
.icon{
	text-align: center;
}
.icon a i{
	height: 40px;
    width: 40px;
    background: #ffb233;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: white;
}
/**********************************
	 about me part css here 
***********************************/
.about-me{
	width: 100%;
	text-align: center;
	padding: 80px 0;
}
.about-me img{
	width: 100px;
	border-radius:200px;
}
.info{
	padding: 0 100px;
}
.title{
	letter-spacing: 5px;
	margin-bottom: 48px;
	text-transform: uppercase;
}
.name{
	margin-top: 30px;
}
.desc{
	margin: 30px 0;
	font-weight: 600;
}
.social-media{
	text-align: center;
}
.social-media ul li{
	list-style: none;
	display: inline-block;
	margin: 30px;
}
.social-media ul li a i{
	height: 40px;
    width: 40px;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: white;
    transition: all 0.5s ease-in-out;
}
.social-media ul li a i:hover{
	background: #ffb233;
    transition: all 0.5s ease-in-out;

}
.contact-btn{
	text-align: center;
}
.contact-btn button{
	background: none;
    padding: 15px 50px;
    border: none;
    border: 3px solid #51a351;
    color: #51a351;
    border-radius: 6px;
}
/**********************************
	 service cat part css here 
***********************************/
.service-cat{
	width: 100%;
	background: url(../img/banner/whatIsay.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 100px 0;
	position: relative;
}
.service-cat .title{
	color: white !important;
}
.cat-icon{
	margin: 90px 0;
}
.cat-icon ul li{
	list-style: none;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}
.cat-icon ul li a i{
	text-align: center;
    list-style: none;
    display: inline-block;
    height: 100px;
    width: 100px;
    background: #ffb233;
    border: 3px solid #ffb233;
    line-height: 100px;
    border-radius: 50%;
    color: white;
    font-size: 26px;
    transition: all 0.5s ease-in-out;
}
.cat-icon ul li a i:hover{
	border-color: #735629;
	transition: all 0.5s ease-in-out;
}
.cat-icon ul li a p{
	color: white;
    margin-top: 32px;
}

/**********************************
	 service count part css here 
***********************************/
.service-count{
	width: 100%;
	padding: 100px 0;
	background-color: #f3f4ff;
}
.count-info{
	text-align: center;
}
.count-info h1{
	font-size: 47px;
    font-weight: 700;
}
.count-info .line{
	width: 20%;
    margin: 20px auto;
    background-color: green;
    height: 3px;
}
.count-info p{
	font-size: 20px;
	font-style: italic;
}

/**********************************
	 service count part css here 
***********************************/
.testimonial{
	width: 100%;
	padding: 100px 0;
	background: url(../img/testimonial.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}
.comment h4{
	margin: 20px 0;
}
.comment{
	padding: 0px 158px;
}
.owl-carousel .owl-item img{
	width: 10% !important;
	margin: 0 auto;
}
.owl-theme .owl-nav{
	display: none;
}
.item img{
	width: 100px;
	border-radius:200px;
}